/* NAVBAR */
.navbar {
  width: 100%;
  padding: 25px 40px;
  background: #0b0d36;
  color: rgb(255, 196, 70);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  height: 30px;
  padding: 0;
  color: white;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 18px;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-links li:hover {
  color: rgb(255, 196, 70);
}

/* MAIN AREA */
.mainpage {
  background: linear-gradient(135deg, rgb(255, 230, 230), #764ba2);
  /* rgb(194, 255, 141) */
  min-height: 100vh;
  padding: 40px 0;
}

.content-area {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 34px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}

/* CARD STYLING */
.card {
  background: #ffffffcc;
  backdrop-filter: blur(6px);
  padding: 30px;
  border-radius: 18px;
  margin-bottom: 25px;
  text-align: left;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

.card h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

.card p {
  color: #444;
  line-height: 1.6;
}

/* FEATURE LIST */
.feature-list {
  padding-left: 10px;
  margin-top: 15px;
}

.feature-list li {
  padding: 8px 0;
  border-bottom: 1px dashed #ccc;
  color: #444;
}

.feature-list li:last-child {
  border: none;
}

/* FOOTER */
.footer {
  background: rgb(15, 15, 47);
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
